<!-- <main>
    <br/>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">order</div>
                <div class="card-body">
                    <form [formGroup]="orderForm" (ngSubmit)="order()">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">name</label>
                            <div class="col-md-6">
                                <input formControlName="name" type="text" id="name" class="form-control" name="name" required>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">phone</label>
                            <div class="col-md-6">
                                <input formControlName="phone" type="number" id="phone" class="form-control" name="phone" required>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">address</label>
                            <div class="col-md-6">
                                <input formControlName="address" type="text" id="address" class="form-control" name="address" required>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">email</label>
                            <div class="col-md-6">
                                <input formControlName="email" type="email" id="email" class="form-control" name="email" required>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Total</label>
                            <div class="col-md-6">
                                <input formControlName="total" type="number" id="total" class="form-control" name="total" readonly required>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group row">
                            <div class="col-md-4"></div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main> -->

<section class="vh-100" style="margin-bottom: 300px;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center"
                        style="background-color: rgb(252, 208, 244); border-radius: 15px;">
                        <form [formGroup]="orderForm" (ngSubmit)="order()">
                            <h3 class="mb-5">Buyer Register</h3>

                            <div class="form-outline mb-4">
                                <input formControlName="name" type="text" id="typeEmailX-2"
                                    class="form-control form-control-lg" placeholder="Enter Your Name" />
                                <label class="form-label" for="typeEmailX-2">Name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="phone" type="text" id="typeEmailX-2"
                                    class="form-control form-control-lg" placeholder="Enter Your Phone Number" />
                                <label class="form-label" for="typePasswordX-2">Phone</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="address" type="text" id="typeEmailX-2"
                                    class="form-control form-control-lg" placeholder="Enter Your Address" />
                                <label class="form-label" for="typePasswordX-2">Address</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="email" type="email" id="typeEmailX-2"
                                    class="form-control form-control-lg" placeholder="Enter Your Email" />
                                <label class="form-label" for="typePasswordX-2">Email</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="total" type="number" id="typeEmailX-2"
                                    class="form-control form-control-lg"/>
                                <label class="form-label" for="typeEmailX-2">Total</label>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit"
                                style="padding-left: 30px; padding-right: 30px;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>