<section class="vh-100" style="margin-bottom: 350px;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center"
                        style="background-color: rgb(252, 208, 244); border-radius: 15px;">
                        <form [formGroup]="signupForm" (ngSubmit)="signup()">
                            <h3 class="mb-5">Buyer Register</h3>

                            <div class="form-outline mb-4">
                                <input formControlName="name" type="text" id="typeEmailX-2"
                                    class="form-control form-control-lg" placeholder="Enter Your Name" />
                                <label class="form-label" for="typeEmailX-2">Name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="email" type="email" id="typeEmailX-2"
                                    class="form-control form-control-lg" placeholder="Enter Your Email" />
                                <label class="form-label" for="typePasswordX-2">Email</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="address" type="text" id="typeEmailX-2"
                                    class="form-control form-control-lg" placeholder="Enter Your Address" />
                                <label class="form-label" for="typePasswordX-2">Address</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="phone" type="text" id="typeEmailX-2"
                                    class="form-control form-control-lg" placeholder="Enter Your Phone Number" />
                                <label class="form-label" for="typePasswordX-2">Phone Number</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="username" type="text" id="typeEmailX-2"
                                    class="form-control form-control-lg" placeholder="Enter Your Username" />
                                <label class="form-label" for="typeEmailX-2">Username</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="password" type="password" id="typeEmailX-2"
                                    class="form-control form-control-lg" placeholder="Enter Your Password" />
                                <label class="form-label" for="typePasswordX-2">Password</label>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit"
                                style="padding-left: 30px; padding-right: 30px;">Register</button>
                            <hr class="my-4">
                            <p>
                                Login buyer & seller From Here <a href="login" style="color: red;">Login</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>