<div class="card text-center" style="border: none; margin-top: 20px;">
    <div class="card-body">
        <h1 style="margin-bottom: 30px;">Welcome Buyer!</h1>
      <h5 class="card-title">From here sellers can  see all items of our store and add specific item to the cart. And then they can chekout from cart.</h5>
    </div>
  </div>

<div class="row" style="margin-top: 20px; margin-bottom: 20px; align-items: center; text-align: center;">
    <div class="col-sm-6">
      <div class="card" style="margin-bottom: 50px;">
        <div class="card-body">
          <h5 class="card-title" style="margin-bottom: 20px;">All Items From Here!</h5>
          <p class="card-text" style="margin-bottom: 40px;">from this You can see all items of our cosmatic store.</p>
          <a href="all_item" class="btn btn-primary" style="padding-left:50px; padding-right:50px;">All Item</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="margin-bottom: 50px;">
        <div class="card-body">
          <h5 class="card-title" style="margin-bottom: 20px;">Cart From here!</h5>
          <p class="card-text" style="margin-bottom: 40px;">From this You can see your cart added items and checkout.</p>
          <a href="cart" class="btn btn-primary" style="padding-left:50px; padding-right:50px;">Cart</a>
        </div>
      </div>
    </div>
  </div>