<div class="card text-white"
    style="width:118%; height:-100px ;  border: none; margin-bottom: 50px; margin-left: -120px;">
    <img class="card-img" src="../../assets/1.jpg" alt="Card image">
    <div class="card-img-overlay" style="text-align: center; align-items: center; margin-top: 500px;">
        <div class="container" style="align-items: center;">
            <div class="card-body">
                <h1 class="card-title"><i style="text-transform: uppercase; ">Cosmatic For Life</i></h1>
                <p>Cosmetics are constituted mixtures of chemical compounds derived from either natural sources, or synthetically created ones.[1] Cosmetics have various purposes.</p>
                <a href="" class="btn btn" style="background-color: #bd4160;">Welcome !</a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="text-align: center; margin-bottom: 30px;">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <img src="../../assets/1.jpg" alt="" height="250px" width="350px">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <img src="../../assets/1.jpg" alt="" height="250px" width="350px">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <img src="../../assets/1.jpg" alt="" height="250px" width="350px">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row" style="text-align: center; margin-bottom: 30px;">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <img src="../../assets/1.jpg" alt="" height="250px" width="350px">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <img src="../../assets/1.jpg" alt="" height="250px" width="350px">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <img src="../../assets/1.jpg" alt="" height="250px" width="350px">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row" style="text-align: center; margin-bottom: 30px;">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <img src="../../assets/1.jpg" alt="" height="250px" width="350px">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <img src="../../assets/1.jpg" alt="" height="250px" width="350px">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <img src="../../assets/1.jpg" alt="" height="250px" width="350px">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
  </div>